.cart-item{
    width: 100%;
    height:33%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-left: 20px;
}
img{
    width:30%;
}
.item-details{
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}