.solid{
    border-top: 1px solid #bbb;
    margin-top: 20px;
    margin-left: 400px;
    margin-right: 400px;
}
.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100px;
}
